.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

/* Light Theme */
.light {
  background-color: white;
  color: black;
}

/* Dark Theme */
.dark {
  background-color: #121212;
  color: white;
}